body {
    background: powderblue;
    h1   {color: blue;}
    p    {color: red;}
    .xxx {
        height: 300px;
        width: 350px;
        background: yellow;
        //background-image : url('../Images/Alveo_170x90.png') center center no-repeat;
    }
}
