body {
    background: powderblue;
    h1   {color: blue;}
    p    {color: red;}
    .xxx {
        height: 300px;
        width: 350px;
        //background: yellow;
        background : url('../Images/dragon.png') center center no-repeat;
        background-size: 300px 350px;
    }
}
